/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeicons/primeicons.css";

*{
  font-family: 'Roboto';
  font-weight: 200;
  box-sizing: border-box;
}
